#header-img {
    width: 100%;
}

.first-list {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01689b;
    height: auto;
    display: block;
}
.first-list li {
    display: block;
}
.first-list a:hover {
    text-decoration: underline;
}

.first-list a {
    float: left;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#Home {
    margin-right: 25%;
    margin-left: 15%;
}

.logo {
    position: relative;
}
#img-text {
    position: absolute;
    top: 200px;
    left: 200px;
    text-align: left;
    font-size: 1.5em;
    background-color: white;
    padding: 20px;
    padding-right: 40px;
    border: solid white 2px;
    border-radius: 5px;
}
#img-text li {
    display: block;
}
#img-text a {
    color: #01689b;
    text-decoration: none;
}
#img-text a:hover {
    text-decoration: underline;
    color: #0d3f55;
}
#articles {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 1.3em;
}
#articles a {
    text-decoration: none;
    width: calc(25% - 10px);
    margin: 5px;
}
#articles a:hover {
    text-decoration: underline;
    color: black;
}
#articles li {
    display: block;
}
#articles a h3 {
color: #01689b;

}
#articles a p {
    color: black;
}
#article-background {
background-color: #f3f3f3;
padding-top: 25px;
}